@media only screen and (max-width: 1550px) {
    
    .about-wrapper {
        height: calc(100vh - 240px);
    }
    
    .skills-wrapper {
        height: calc(100vh - 435px);
    }
    
    .projects {
        max-width: 100%;
    }  
}

@media only screen and (max-width: 1370px) {
    
    .projects {
        max-width: 90%;
        flex-wrap: wrap;
    }
    
    .projects__list {
        width: 80%;
        min-height: 199px;
        max-height: 199px;
        margin: 0 auto 50px auto;
    }
    
    .projects__list-item {
        width: calc(33.3% - 2px);
    }
}

@media only screen and (max-width: 1160px) {
    
    .projects {
        max-width: 90%;
    }
    
    .projects__list {
        width: 90%;
        min-height: 199px;
        max-height: 199px;
        margin: 0 auto 50px auto;
    }
    
    .projects__list-item {
        width: calc(33.3% - 2px);
    }
    
    .projects__button {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1100px) {
    
    .--about-text {
        height: calc(100vh - 435px); 
    }
    
    .car {
        background-image: url(../img/bmw_361x160.png);
        width: 361px;
        height: 160px;
        bottom: 40px;
    } 
}

@media only screen and (max-width: 1000px) {
    
    .projects__button {
        font-size: 2.5rem;
    }
    
    .projects__info {
        flex-direction: column;
    }
    
    .projects__text-wrapper {
        height: auto;
        width: 100%;
        margin: 50px auto 0px auto;  
    }
    
    .projects__description {
        width: 90%;
    }
    
    .projects__icon-wrapper {
        margin: 30px auto;
    }
    
    .projects__img {
        width: 350px;
        height: auto;
        margin: 0 auto 100px auto;
        box-shadow: 0 0 30px black;
    }
}

@media only screen and (max-width: 900px) {
    
    .projects__list-item {
        width: calc(50% - 2px);
    }
    
    .--contact {
        width: 400px;
    } 
}

@media only screen and (max-width: 800px) {
    
    :root {
        font-size: 12px;
    }
    
    .about-wrapper {
        flex-direction: column-reverse;
        overflow-y: scroll;
        padding-bottom: 140px;
        padding-right: 0px;
    }
    
    .--technologies-title {
        margin-left: 0px;
    }
    
    .other-skills__list-item {
        padding: 0 30px;
    }

    .skills-wrapper {
        padding-right: 0;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .--about {
        width: 100%;
    }
    
    .--about-text {
        width: 90%;
        margin-left: 5%;
        padding-right: 0;
        height: auto;
        overflow-y: visible;
    }
    
    .article__text {
        width: 90%;
    }
    
    .--skills {
        width: 100%;
    }
    
    .projects__list {
        max-height: 300px;
        min-height: 300px;
    }
    
    .projects__list-item {
        width: calc(100%);
    }
    
    .--projects-under-dev:before {
        top: 20px;
        left: -60px;
    }
    
    .projects__description {
        width: 100%;
        font-size: 2rem;
    }
    
    .--contact {
        font-size: 1.4rem;
    }
    
    .footer__copyright {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 700px) {
    
    .projects__img {
        width: 350px;
        height: auto;
    }
    
    .--contact {
        height: 70vh;
        width: 90%;
        padding-left: 0;
        padding-top: 10vh;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 580px) {
    
    .car {
        background-image: url(../img/bmw_240x107.png);
        width: 240px;
        height: 120px;
    }
    
    .projects__button {
        font-size: 2.2rem;
    }
     
    .footer {
        height: 80px;
    }
}

@media only screen and (max-width: 500px) {
    
    .projects__list-item {
        width: calc(100%);
    }
    
    .projects__button {
        font-size: 3rem;
    }

    .projects__img {
        width: 87.5%;
        height: auto;
    }
}

@media only screen and (max-height: 750px) and (max-width: 700px) {
    
    .me-brick {
        width: 250px;
    }
}
